$darkBlue: rgb(40,44,52);
$blue: rgb(97,218,251);
$w: rgb(255, 255, 255);
$purpleOne: #C33764;  /* fallback for old browsers */
$purpleGradient: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
$purpleGradient2: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$lightOrange: #FFAFBD;  /* fallback for old browsers */
$lightGradient: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
$lightGradient2: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 

.menu-icon {
    color: $lightOrange;
    padding: 10px;
    // transition: 300ms;
}
.drawer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    .vertical-nav-container {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        .vertical-link {
            text-decoration: none;
            margin: 10px;
            padding: 5px;
            font-size: 1.5rem;
            color: $w;

            &:hover {
                opacity: 0.8;
            }
        }
    }
    .close-icon {
        margin-right: 40px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 300ms;
        padding: 10px;
        height: 20px;
        color: $w;
        width: 20px;
        cursor: pointer;
        &:hover {
            background-color: rgba(235, 236, 238, 0.3);
            transition: 300ms;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .vnav-container {
        display: none;
        margin-right: 10%;
    }
}